body{
    margin-left: 15%;
    margin-right: 15%;
}
/*-----------HEADER--------------------*/
div.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

div#header{
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration: underline;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
}

div#menu{
    text-align: right;
    margin-top: 49px;
}

div#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div#menu li {
    display: inline-block;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}

/*----------------HEADER II-------------------------------------*/

a#buttomCta{
    background-color: #1F7CFF;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 10px 25px 10px 25px;
}

#headerCta h1{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 52px;
    width: 600px;
    color: #000000;
}

div#headerCta p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    width: 400px;
    color: #575455;
}

a#buttomCta:hover{
    transform: translateY(-5px);
    transition-duration: 0.7s;
}

#headerImg{
    background-image: url('imagens/348256237_629372408778058_7316646971849584332_n.jpg');
    margin-left: 42px;
    width: 100%;
    
}

#headerImg img{
    border-radius: 50%;
    width: 100%;
}